:root {
  /* dimensions */
  --Mobile: 375px;
  --Desktop: 1440px;

  /* colors */
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}

@font-face {
  font-family: "figTree bolder";
  src: url("./../assets/fonts/static/Figtree-ExtraBold.ttf");
}

@font-face {
  font-family: "figTree semi";
  src: url("./../assets/fonts/static/Figtree-SemiBold.ttf");
}

body {
  background-color: var(--Yellow);
  display: grid;
  place-items: center;
  place-content: center;
  min-height: 100vh;
}

.card {
  background-color: var(--White);
  width: 70%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px;
  border: 1px solid var(--Black);
}

.card__img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  display: block;
}

.card__btn {
  color: var(--Black);
  font-family: "figTree bolder";
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var(--Yellow);
  border: none;
}

.card_releaseDate {
  font-family: "figTree semi";
}

.card__header {
  font-family: "figTree bolder";
  font-size: 1.2rem;
}

.card__header:hover {
  color: var(--Yellow);
}

.card__body {
  color: var(--Grey);
}

.card__profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile__img {
  width: 35px;
}

.profile__text {
  font-family: "figTree bolder";
}
